<html>

<head>

    <title>
        {{title}}
    </title>

</head>

<body>
    <h1>
        {{  title}}
    </h1>

    
     <p> {{     msg  }} </p>
    <form method="post" action="/login">
    <label>Username</label>
  <input type="text" name="username"><br>
  <br>
  <label>password</label>
  <input type="text" name="password"><br>
    <br>
  <input type="submit" name="Submit" value="login">
</form>

</body>

</html>